#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.ai-model{
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.flex-box{
  display: flex;
  flex-direction: column;
}

.app-name{
  padding: 0;
  margin: 0;
  font-size: 2.5rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-area{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-area textarea{
  padding: 10px;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  word-spacing: 0.2rem;
  line-height: 24px;
  font-weight: 600;
  outline: none;
  resize: none;
  width: 65vw;
  height: 20vh;
}

.result-area{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.result-text{
  height: 30vh;
  width: 65vw;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 10px;
  margin-top: 40px;
  color: white;
  text-align: left;
  overflow-y: scroll;
}
.result-text p{
  padding: 20px;
}

.submit-button{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button{
  height: 40px;
  width: 100px;
  letter-spacing: 0.2rem;
  font-weight: 600;
}
button:hover{
  background-color: white !important;
  color: black;
}

@media (max-width: 680px) {
  .app-name{
    font-size: 1rem;
  }
  .text-area{
    height: 10vh;
  }
  .text-area textarea{
    letter-spacing: 0.1rem;
    word-spacing: 0.01rem;
    padding: 5px;
    font-weight: 500;
    font-size: 0.5rem;
  }
  .submit-button button{
    height: 20px;
    width: 60px;
    padding: 0;
    letter-spacing: 0.1rem;
    font-size: 0.5rem;

  }
  .submit-button button:hover{
    background-color: transparent;
    border: 0.5px solid white;
  }
  .result-text{
    border: 0.5px solid white;
  }
  .result-text p{
    padding: 10px;
    font-size: 0.5rem;
  }
}